### In this notebook your will learn hot to handle data in Python using the Pandas and Numpy library.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
titanic = sns.load_dataset('titanic')
titanic.to_csv('titanic.csv', index=False)

### 1. Load data

In [3]:
# Load data from a csv file
df_iris = pd.read_csv("iris.csv")
print(df_iris.head())
print(df_iris.dtypes)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [4]:
print(df_iris.describe())

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 2. Data selection and indexing

In [5]:
# Select a column
print(df_iris['sepal_length'])

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [6]:
# Select multiple columns
print(df_iris[['sepal_length', 'sepal_width']])

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [7]:
# Find indexes that match a condition
print(df_iris['sepal_length'] > 6.0)

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149    False
Name: sepal_length, Length: 150, dtype: bool

In [8]:
# Conditional selection
print(df_iris[df_iris['sepal_length'] > 6.0])

     sepal_length  sepal_width  petal_length  petal_width     species
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
54            6.5          2.8           4.6          1.5  versicolor
56            6.3          3.3           4.7          1.6  versicolor
..            ...          ...           ...          ...         ...
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica

[61 rows x 5 columns]

In [9]:
# Multiple conditions

#and condition
print(df_iris[(df_iris['sepal_length'] > 6.0) & (df_iris['species'] == 'versicolor')])

#or condition
print(df_iris[(df_iris['sepal_length'] > 6.0) | (df_iris['species'] == 'versicolor')])

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
54           6.5          2.8           4.6          1.5  versicolor
56           6.3          3.3           4.7          1.6  versicolor
58           6.6          2.9           4.6          1.3  versicolor
63           6.1          2.9           4.7          1.4  versicolor
65           6.7          3.1           4.4          1.4  versicolor
68           6.2          2.2           4.5          1.5  versicolor
71           6.1          2.8           4.0          1.3  versicolor
72           6.3          2.5           4.9          1.5  versicolor
73           6.1          2.8           4.7          1.2  versicolor
74           6.4          2.9           4.3          1.3  versicolor
75           6.6          3.0           4.4          1.4  versicolor
76           6.8          2.8           4.8          1.4  versicolor
77           6.7          3.0           5.0          1.7  versicolor
86           6.7          3.1           4.7          1.5  versicolor
87           6.3          2.3           4.4          1.3  versicolor
91           6.1          3.0           4.6          1.4  versicolor
97           6.2          2.9           4.3          1.3  versicolor
     sepal_length  sepal_width  petal_length  petal_width     species
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
..            ...          ...           ...          ...         ...
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica

[91 rows x 5 columns]

In [10]:
#or condition
print(df_iris[(df_iris['sepal_length'] > 6.0) | (df_iris['species'] == 'versicolor')])

     sepal_length  sepal_width  petal_length  petal_width     species
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
..            ...          ...           ...          ...         ...
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica

[91 rows x 5 columns]

### 3.Handling Missing Data

In [11]:
# Check for missing data
df_titanic = pd.read_csv("titanic.csv")
missing_data = df_titanic.isnull().sum()
print(missing_data)
print(df_titanic.head())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [12]:
# Option 1: Drop missing data
df_titanic = pd.read_csv("titanic.csv")
df_titanic.dropna(inplace=True)
print(df_titanic.isnull().sum())
print(len(df_titanic))

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64
182

In [13]:
# Option 2: Fill missing data
df_titanic = pd.read_csv("titanic.csv")
df_titanic.fillna(0, inplace=True)
print(df_titanic.isnull().sum())
print(len(df_titanic))

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64
891

In [14]:
# Option 3: Fill missing data with the mean
df_titanic = pd.read_csv("titanic.csv")
df_titanic['age']=df_titanic['age'].fillna(df_titanic['age'].mean())
print(df_titanic.isnull().sum())

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [15]:
# Option 4: Filling missing  values with the most frequent value
df_titanic = pd.read_csv("titanic.csv")
df_titanic['embarked']=df_titanic['embarked'].fillna(df_titanic['embarked'].mode()[0])
print(df_titanic.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [16]:
# Renaming columns
df_titanic = pd.read_csv("titanic.csv")
df_titanic.rename(columns = {'class': 'ticket_class' }, inplace=True)
print(df_titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  \
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

  ticket_class    who  adult_male deck  embark_town alive  alone
0        Third    man        True  NaN  Southampton    no  False
1        First  woman       False    C    Cherbourg   yes  False
2        Third  woman       False  NaN  Southampton   yes   True
3        First  woman       False    C  Southampton   yes  False
4        Third    man        True  NaN  Southampton    no   True

### Apply functions to rows

In [17]:
diamonds = pd.read_csv("diamonds.csv")


def price_per_carat(row):
    return row['price'] / row['carat'] if row['carat'] > 0 else 0

diamonds['price_per_carat'] = diamonds.apply(price_per_carat, axis=1)

print(diamonds[['carat', 'price', 'price_per_carat']])

       carat  price  price_per_carat
0       0.23    326      1417.391304
1       0.21    326      1552.380952
2       0.23    327      1421.739130
3       0.29    334      1151.724138
4       0.31    335      1080.645161
...      ...    ...              ...
53935   0.72   2757      3829.166667
53936   0.72   2757      3829.166667
53937   0.70   2757      3938.571429
53938   0.86   2757      3205.813953
53939   0.75   2757      3676.000000

[53940 rows x 3 columns]

 #### Data Aggregation and Grouping

In [18]:
# Group by a column
df_iris = pd.read_csv("iris.csv")
grouped = df_iris.groupby('species')
print(grouped.mean())

#alternative way
print(df_iris.pivot_table(index='species', aggfunc="mean"))

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026
            petal_length  petal_width  sepal_length  sepal_width
species
setosa             1.462        0.246         5.006        3.428
versicolor         4.260        1.326         5.936        2.770
virginica          5.552        2.026         6.588        2.974

# Merging and Joining DataFrames

In [19]:
# Create DataFrames df1 and df2
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'key': ['K0', 'K1', 'K2', 'K3']})

df2 = pd.DataFrame({
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3'],
    'key': ['K0', 'K1', 'K2', 'K4']})

# Display the DataFrames
print("DataFrame 1 (df1):")
print(df1)
print("\nDataFrame 2 (df2):")
print(df2)

# Inner Join: Keeps only rows with matching keys in both DataFrames
print("\nInner Join:")
inner_join = pd.merge(df1, df2, on='key', how='inner')
print(inner_join)

# Left Join: Keeps all rows from df1 and adds matching rows from df2
print("\nLeft Join:")
left_join = pd.merge(df1, df2, on='key', how='left')
print(left_join)

# Right Join: Keeps all rows from df2 and adds matching rows from df1
print("\nRight Join:")
right_join = pd.merge(df1, df2, on='key', how='right')
print(right_join)

# Outer Join: Keeps all rows from both DataFrames, filling in NaN for missing matches
print("\nOuter Join:")
outer_join = pd.merge(df1, df2, on='key', how='outer')
print(outer_join)

DataFrame 1 (df1):
    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3

DataFrame 2 (df2):
    C   D key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  K4

Inner Join:
    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2

Left Join:
    A   B key    C    D
0  A0  B0  K0   C0   D0
1  A1  B1  K1   C1   D1
2  A2  B2  K2   C2   D2
3  A3  B3  K3  NaN  NaN

Right Join:
     A    B key   C   D
0   A0   B0  K0  C0  D0
1   A1   B1  K1  C1  D1
2   A2   B2  K2  C2  D2
3  NaN  NaN  K4  C3  D3

Outer Join:
     A    B key    C    D
0   A0   B0  K0   C0   D0
1   A1   B1  K1   C1   D1
2   A2   B2  K2   C2   D2
3   A3   B3  K3  NaN  NaN
4  NaN  NaN  K4   C3   D3

### Concatenating DataFrames

In [20]:
# Create DataFrames df1 and df2
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'key': ['K0', 'K1', 'K2', 'K3']})

df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'key': ['K4', 'K5', 'K6', 'K7']})

# Display the DataFrames
print("DataFrame 1 (df1):")
print(df1)
print("\nDataFrame 2 (df2):")
print(df2)

# Concatenate the DataFrames
print("\nConcatenated DataFrame:")
concatenated = pd.concat([df1, df2])
print(concatenated)

DataFrame 1 (df1):
    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3

DataFrame 2 (df2):
    A   B key
0  A4  B4  K4
1  A5  B5  K5
2  A6  B6  K6
3  A7  B7  K7

Concatenated DataFrame:
    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3
0  A4  B4  K4
1  A5  B5  K5
2  A6  B6  K6
3  A7  B7  K7